* {
	font-family: Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
	margin: 0;
}

.h1, h1 {
    font-size: 30px;
    line-height: 135%;
}

#botao {
	margin-top: 20px;
}

.outro {
	display: inline;
}

.termo {
	background-color: white;
	position: absolute;
	width: 100%;
	min-height: 96%;
	z-index: 2;
	margin: 0;
	border: 0;
}

.termo--hidden {
	display: none;
}

.enunciado {
	margin-top: 4%;
    /* color: #000; */
    font-size: 20px;
    line-height: 135%;
    width: 100%;
}
.aviso {
	font-size: 12px;
	color: #db4437;
}
.obrigatoria {
	font-size: 22px;
	color: #db4437;
	font-weight: 800;
}
#curso {
 width:150px;   
}
#motivoEscolha, #dificuldade {
	width: 100%;
}

#curso option{
 width:100px;   
}

#consentimento {
	padding-left: 10px;
	padding-right: 10px;
}

.descricao {
    /* height: 30vh; */
    /* overflow-y: scroll; */
    /* border: 1px solid #e2e2e2; */
    padding: 10px;
    font-size: 13px;
    line-height: 135%;
    width: 100%;
    text-align: justify;
}

.container {
	/* width: 90%; */
	max-width: 850px;
	margin: 0 auto;
	padding: 10px;
}

#form__completo {
	/* padding: 10px; */
	max-width: 850px;
	margin: 0 auto;
}

.blur {
	filter: blur(10px);
	position: fixed;
}

h1 {
	font-size: 20px;
}

input {
	display: block;
}

input[type='checkbox'], input[type='radio'] {
	display: inline;
	margin-right: 2px
}

label {
	display: block;
	margin-bottom: 10px;
	font-size: 20px;
}

.form__group {
	margin-top: 30px;
}

.part2 {
	display: none;
}

.part2--show {
	display: block;
}
.rb {
	display: block;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000000;
    font-weight: normal;
}