#map {
  height: 90%;
}
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}
.tabela{
	margin-top: 6%;
}
#dadosSexo tr td:first-child{
	color: #2ecc71;
}
#dadosSexo tr td:nth-child(2){
	color: #3498db;
}
#dadosSexo tr td:nth-child(3){
	color: #95a5a6;
}
#dadosSexo tr td{
	font-weight: 700;
}
#dadosSexo th{
	text-align: center;
}
/* #dadosCurso tr:nth-child(1){ */
	/* color: #a6cee3; */
/* } */
/* #dadosCurso tr:nth-child(2){ */
	/* color: #1f78b4; */
/* } */
/* #dadosCurso tr:nth-child(3){ */
	/* color: #b2df8a; */
/* } */
/* #dadosCurso tr:nth-child(4){ */
	/* color: #33a02c; */
/* } */
/* #dadosCurso tr:nth-child(5){ */
	/* color: #fb9a99; */
/* } */
/* #dadosCurso tr:nth-child(6){ */
	/* color: #e31a1c; */
/* } */
/* #dadosCurso tr:nth-child(7){ */
	/* color: #fdbf6f; */
/* } */
/* #dadosCurso tr:nth-child(8){ */
	/* color: #ff7f00; */
/* } */
/* #dadosCurso tr:nth-child(9){ */
	/* color: #cab2d6; */
/* } */
/* #dadosCurso tr:nth-child(10){ */
	/* color: #6a3d9a; */
/* } */
/* #dadosCurso tr:nth-child(11){ */
	/* color: #ccebc5; */
}
#dadosCurso tr{
	font-weight: 700;
}
#dadosCurso th, tr{
	text-align: center;
}
#dadosCurso th{
	color: black;
}
#labelQntIdades {
	margin-left: 10px;
}
#labelIdades {
	position: absolute;
	bottom: -18px;
	right: 10px;
}
.grafIdades {
	position: relative;
}
.tabelaHeight {
	height: 400px;
    overflow: scroll;
}
.table > thead > tr > th, .table > tbody > tr > td {
	text-align: center;
	vertical-align: middle!important;
}
#dadosVinda tr td {
	width: 50%;
}
.teste {
    background-color: lightblue;
    /* height: 50px; */
    /* width: 100%; */
}
hr {
    margin-top: 40px;
    margin-bottom: 0;
    border: 0;
    border-top: 4px solid #eeeeee;
}
.section{
	border-bottom: 3px solid #eeeeee;
	border-top: 3px solid #eeeeee;
}
.resumo{
	border-bottom: 3px solid #eeeeee;
	border-top: 6px solid #eeeeee;
}
.footer {
    /* position: absolute; */
    /* bottom: 0; */
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}
.fundo {
	padding-top: 5px;
}